@define-color tab_border #cacaca;
MarlinViewWindow .dynamic-notebook .notebook tab,
MarlinViewWindow .dynamic-notebook .notebook tab:hover,
MarlinViewWindow .dynamic-notebook .notebook tab:active,
MarlinViewWindow .dynamic-notebook .notebook:backdrop tab,
MarlinViewWindow .dynamic-notebook .notebook:backdrop tab:hover,
MarlinViewWindow .dynamic-notebook .notebook:backdrop tab:active {
  border-top: none;
  box-shadow: none;
  border-right: 1px solid @tab_border;
  border-left: 1px solid @tab_border;
}

MarlinViewWindow .dynamic-notebook .notebook {
  border-top: 1px solid @tab_border;
}

MarlinViewWindow .dynamic-notebook .notebook:backdrop {
  background: @theme_unfocused_bg_color;
}

MarlinViewChromeTopMenu.header-bar > MarlinViewChromeLocationBar > .marlin-pathbar {
    border: 1px solid alpha (@borders, 0.9);
}

MarlinViewOverlayBar.overlay-bar {
  background-image: linear-gradient(to bottom,
                                    alpha (#f9f9f9, 0.98),
                                    alpha (#f9f9f9, 0.95) 80%,
                                    alpha (#f0f0f0, 0.95)
                                    );
  color: @theme_text_color;
  border: 1px solid alpha(@borders, 0.5);
  padding: 3px;
}
