WingpanelWidgetsMenuBar:nth-child(2) .menuitem:hover,
WingpanelWidgetsMenuBar.menubar .menuitem.panel-app-button:hover {
  background-color: transparent; /* ISSUE: #34 */
}

.panel.background {
    background-color: #EDEDED;
    color: #303030;
    font-weight: bold;
}

.composited-indicator {
    background-color: transparent;
    color: #303030;
    padding: 0 2px;
}

/* Slingshot styles */

SlingshotSlingshotView > GtkPopover.popover.background {
  background-image: linear-gradient(to bottom,
                                    alpha (#f9f9f9, 0.98),
                                    alpha (#f9f9f9, 0.95) 80%,
                                    alpha (#f0f0f0, 0.95)
                                    );
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 1px 1px darker(@theme_bg_color); /* ISSUE: #39 */
}
/* ISSUE: #41; lines 19-40 */
SlingshotSlingshotView GraniteWidgetsModeButtonItem.button,
SlingshotSlingshotView GraniteWidgetsModeButtonItem.button:backdrop,
SlingshotSlingshotView GraniteWidgetsModeButtonItem.button:checked,
SlingshotSlingshotView GraniteWidgetsModeButtonItem.button:hover,
SlingshotWidgetsSwitcher GtkToggleButton.button,
SlingshotWidgetsSwitcher GtkToggleButton.button:backdrop,
SlingshotWidgetsSwitcher GtkToggleButton.button:checked,
SlingshotWidgetsSwitcher GtkToggleButton.button:hover {
  border: 1px solid @theme_bg_color;
  border-image: none;
  color: darker(@theme_bg_color);
  border-radius: 3px;
}

SlingshotSlingshotView GraniteWidgetsModeButtonItem.button:checked,
SlingshotSlingshotView GraniteWidgetsModeButtonItem.button:hover,
SlingshotWidgetsSwitcher GtkToggleButton.button:checked,
SlingshotWidgetsSwitcher GtkToggleButton.button:hover {
  border-color: darker(@theme_bg_color);
  color: darker(@theme_bg_color);
  border-radius: 3px;
}

SlingshotSlingshotView GtkSearchEntry.entry,
SlingshotSlingshotView GtkSearchEntry.entry:focus {
  box-shadow: none;
  border: 1px solid @theme_bg_color;
  border-radius: 3px;
}

SlingshotSlingshotView GtkSearchEntry.entry:focus {
  border-color: darker(@theme_bg_color);
  color: darker(@theme_bg_color);
}

SlingshotSlingshotView SlingshotWidgetsAppEntry GtkLabel {
  color: #535d6c; /* ISSUE: #29 */
}

SlingshotWidgetsSearchView {
  color: #535d6c;
}

/* ISSUE: #30 */
SlingshotWidgetsSearchView .button.flat:hover {
  color: #fff;
  text-shadow: none;
}

/* Same as #30 for Category view */
SlingshotWidgetsCategoryView .button.flat:hover GtkLabel {
  color: #fff;
  text-shadow: none;
}
