.titlebar .right .titlebutton,
.titlebar .left .titlebutton {
	color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
  box-shadow: none;
	border: none;
}

.titlebar .titlebutton,
.titlebar .titlebutton:backdrop,
.titlebar .titlebutton:backdrop:hover,
.titlebar .titlebutton:active,
.titlebar .titlebutton:hover {
	border: none;
	box-shadow: none;
}

/* Evopop style */
.titlebar .button.titlebutton {
  padding: 8px;
  padding-left: 4px;
  padding-right: 4px;
}


/* Set correct layout with
	gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <':minimize,maximize,close'>}" for buttons on the right
	or
	gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <'close,maximize,minimize:'>}"
	for buttons on the left */

/* minimize */
.titlebar .left .titlebutton.minimize,
.titlebar .right .titlebutton.minimize {
	background-image: url('window-controls/min.svg');
}

.titlebar .left .titlebutton.minimize:backdrop,
.titlebar .right .titlebutton.minimize:backdrop {
	background-image: url('window-controls/min_unfocused.svg');
	-gtk-image-effect: dim;
}

.titlebar .left .titlebutton.minimize:hover,
.titlebar .right .titlebutton.minimize:hover {
	background-image: url('window-controls/min_prelight.svg');
}

.titlebar .left .titlebutton.minimize:active,
.titlebar .right .titlebutton.minimize:active {
	background-image: url('window-controls/min_pressed.svg');
}

/* close */
.titlebar .left .titlebutton.close,
.titlebar .right .titlebutton.close {
	background-image: url('window-controls/close.svg');
}

.titlebar .left .titlebutton.close:backdrop,
.titlebar .right .titlebutton.close:backdrop {
	background-image: url('window-controls/close_unfocused.svg');
	-gtk-image-effect: dim;
}

.titlebar .left .titlebutton.close:hover,
.titlebar .right .titlebutton.close:hover {
	background-image: url('window-controls/close_prelight.svg');
}

.titlebar .left .titlebutton.close:active,
.titlebar .right .titlebutton.close:active {
	background-image: url('window-controls/close_pressed.svg');
}


/* maximize */
.titlebar .left .titlebutton.maximize,
.titlebar .right .titlebutton.maximize {
	background-image: url('window-controls/maximize.svg');
}

.titlebar .left .titlebutton.maximize:backdrop,
.titlebar .right .titlebutton.maximize:backdrop {
	background-image: url('window-controls/maximize_unfocused.svg');
	-gtk-image-effect: dim;
}

.titlebar .left .titlebutton.maximize:hover,
.titlebar .right .titlebutton.maximize:hover {
	background-image: url('window-controls/maximize_prelight.svg');
}

.titlebar .left .titlebutton.maximize:active,
.titlebar .right .titlebutton.maximize:active {
	background-image: url('window-controls/maximize_pressed.svg');
}
