.titlebar .left .titlebutton:nth-child(2):backdrop,
.titlebar .left .titlebutton:first-child:backdrop,
.titlebar .left .titlebutton:nth-child(3):backdrop {
	background-image: url('../window-controls/unfocused_dark.svg');
	-gtk-image-effect: dim;
}

.titlebar .left .titlebutton:nth-child(2):backdrop:hover,
.titlebar .left .titlebutton:first-child:backdrop:hover,
.titlebar .left .titlebutton:nth-child(3):backdrop:hover,
.titlebar .left .titlebutton:nth-child(2):backdrop:active,
.titlebar .left .titlebutton:first-child:backdrop:active,
.titlebar .left .titlebutton:nth-child(3):backdrop:active {
	background-image: url('../window-controls/titlebar_button.svg');
	-gtk-image-effect: dim;
}
